body {
    background-color: #ffffff; /*white background*/
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa
}
/* Nabar container */
.navbar{
    display: flex; /*places items in a row */
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: white;
    border-bottom: 1px solid #ddd; /*light gray separator */
}
.nav-left{
    display: flex;
    align-items:center;
    gap:15px;
}
/* logo */
.logo img {
    height:50px;
    width: 50 px;
    margin-left: 10px;
}
/* search bar */
.search-box{
    border: 1px solid #ccc; /*light gray border*/
    border-radius: 20px; /*makes it rounded */
    padding: 10px 15px;
    width: 250px;/*fixed width*/
    outline: none;/*removes default blue outline*/
    display: flex;
    font-size:14px;
}
/*search bar focus effect*/
.search-box:focus{
    border: 1px solid #f8a8a8; /*light pink outline on focus*/
    border-radius: 20px;
    padding: 10px 15px;
    width:250px;
    outline:none;
    display:flex;
}
/*placeholder style */
.search-box::placeholder{
    font-size: 14px;
}
/* Navigation Links */
.nav-links {
    display: flex; /* Puts links in a row */
    justify-content: center;
    gap: 20px; 
}

.nav-links a {
    font-family: 'poppins';
    font-size:16px;
    text-decoration: none; /* Removes underline */
    color: black; /* Default text color */
    margin-right: 20px;
    font-size: 16px; /* Adjusts text size */
}

.nav-links a:hover {
   display: flex;
   gap: 20px;
   color: #5b4aed; /* Turns blue on hover */
}
/* Sign-In Button */
.sign-in-btn {
    background-color: linear gradient(to right, #FAD2E1, #d6a5c0); /* Light pink */
    padding: 10px 15px; /* Adds space inside */
    border-radius: 20px; /* Makes it rounded */
    border:none;
    cursor: pointer; /* Makes it clickable */
    margin-left: 10px; /* Adds spacing from the links */
    text-transform: uppercase;
}

/* Hover Effect */
.sign-in-btn:hover {
    background-color: #f8a8a8; /* Darker pink on hover */
}

.nav-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}